/** ADD YOUR AWESOME CODES HERE **/
.container-fluid {
	background: #ececec;
}

.bg-white {
	background: #fff !important;
}

#navbar-wd {
	padding-left: 30px;
}

.title-big {
	/*font-size: 75px !important;
	line-height: 75px !important;*/
	font-size: 55px !important;
    line-height: 45px !important;
}

.font-green h3 {
	color: #00A551 !important;
	font-weight: bold;
}


.btn-green {
	font-weight: bold;
	;
	color: #fff !important;
	background-color: #00A551;
	padding: 3px 13px;
	border-radius: 6px;
}


@media only screen and (max-width: 999px) {

	.hide-mobile,
	.bg-icon2,
	.bg-icon3,
	.bg-icon4,
	.bg-icon5,
	.bg-icon6,
	.bg-icon7,
	.bg-icon8 {
		display: none;
	}
}


.icon-sosmed {
	position: absolute;
	right: 30px;
	z-index: 999;
	bottom: 15px;
}

.icon-sosmed img {
	margin-left: 10px;
}

.icon-sosmed-blank {
	position: absolute;
	right: 60px;
	z-index: 999;
	/* bottom: 15px; */
	margin-top: -200px;
}


.bg-icon1 {
	position: absolute;
	margin-top: -30px;
}

.bg-icon2 {
	position: absolute;
	right: 220px;
	top: 50px;
	z-index: 999;
	width: 30px;
	height: 30px;
}

.bg-icon3 {
	position: absolute;
	right: 20px;
	margin-top: -250px;


	z-index: 999;
	width: 30px;
	height: 60px;
}

.bg-icon4 {
	position: absolute;
	top: 30%;
	left: 20px;

	z-index: 999;
	width: 30px;
	height: 60px;
}


.bg-icon5 {
	position: absolute;
	top: 15%;
	z-index: 9;
	right: 10px;
}

.bg-icon6 {
	position: absolute;
	margin-top: -50px;
	z-index: 9;
	left: 10px;
}

.bg-icon7 {
	position: absolute;
	right: 40%;
	margin-top: -70px;
	z-index: 9;
	width: 30px;
	height: 30px;
}

.bg-icon8 {
	position: absolute;
	top: 20%;
	left: 50px;

	z-index: 9;
	width: 30px;
	height: 30px;
}


/* INFO USER */
.btn-user {
	cursor: pointer;
}

.info-user {
	display: none;
	z-index: 999;
	padding: 3px;
}

.info-user-active {
	display: block !important;
}

.info-user ul li {
	background-color: #fff;
	border-bottom: #BDBDBD solid 1px;
	padding: 3px 15px;
	cursor: pointer;
	font-size: 15px;
}
