/** ADD YOUR AWESOME CODES HERE **/
/* layout panel */
html,
body {
    height: 100%;
    overflow: hidden;
}

.container-fluid {
    height: 100%;
    background: #fff;
}

.container-fluid .row {
    height: 100%;
}

.container-fluid .row .height-full {
    height: 100%;
}
.valign-center {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    padding-left: 120px;
    padding-right: 120px;
}


/* Login from */
/* 
.box-login-out {
    padding-left: 150px;
    padding-right: 150px;
} */

@media only screen and (max-width: 999px) {
    .hide-mobile {
        display: none;
    }
}

@media only screen and (max-width: 1250px) {
    .valign-center {
        padding-left: 50px;
        padding-right: 80px;
    }
}

@media only screen and (max-width: 800px) {
    .valign-center {
        padding-left: 0px;
        padding-right: 35px;
    }
}


@media only screen and (max-width: 500px) {
    .valign-center {
        margin-left: -15px;
        padding-left: 0px;
        padding-right: 20px;
    }
}




.box-login {
    background: #ececec;
    border-radius: 30px;
    padding: 10px 40px;
    text-align: center;
}

.box-login h3 {
    margin: 0px;
    color: #7D7D7D !important;
    font-weight: bold;
    padding: 0px;
}

.box-login h4 {
    color: #7D7D7D !important;
    margin-top: -30px;
    font-size: 12px;
    margin: 0px;
    padding: 0 0 30px 0;
}

.bg-cream {
    background: #ECECEC;
}

.height-full {
    height: 700px;
}



.logo-title {
    padding-top: 20px;
    /* padding-left: 50px; */
}

.side-title {
    color: #000;
    /* padding-left: 60px; */
    ;
}

.side-title div:nth-last-child(4) {
    font-size: 20px;
    font-weight: bold;
}



.side-title div:nth-last-child(3) {
    font-size: 80px;
    margin-top: -40px;
    font-weight: bold;
}

.side-title div:nth-last-child(2) {
    font-size: 80px;
    margin-top: -50px;
    font-weight: bold;
}

.side-title div:nth-last-child(1) {
    /* padding-left: 10px; */
    margin-top: -20px;
}

.side-title div:nth-last-child(1) img {
    margin-right: 10px;

}

.icon-gelas {
    margin-left: 55%;
}

.remember-me {
    font-size: 12px;
}

.forgot-password label {
    color: #00A551;
    font-size: 12px;
}

.icon-mata {
    position: absolute;
    z-index: 9;
    right: 15px;
    top: 5px;
}