/* .pogoSlider-slide{
    height: 70% !important;
}

.height-slider {
    height: 550px !important;
} */


.pogoSlider {
    padding-bottom: 30% !important;

}


@media only screen and (max-width: 1570px) {
    .pogoSlider {
        padding-bottom: 30% !important;
    }
}


@media only screen and (max-width: 1380px) {
    .pogoSlider {
        padding-bottom: 35% !important;
    }
}

@media only screen and (max-width: 1280px) {
    .pogoSlider {
        padding-bottom: 40% !important;
    }
}

@media only screen and (max-width: 870px) {
    .pogoSlider {
        padding-bottom: 40% !important;
    }
}

@media only screen and (max-width: 690px) {
    .pogoSlider {
        padding-bottom: 45% !important;
    }
}

@media only screen and (max-width: 500px) {
    .pogoSlider {
        padding-bottom: 50% !important;
    }
}