/* only small desktops */
/* tablets */
 @media (min-width: 992px) and (max-width: 1190px) {
     .countdown{
         height: 285px;
    }
     .top-header .navbar .navbar-collapse ul li a{
         font-size: 14px;
    }
     .lbox-details h2{
         font-size: 26px;
    }
     .contact_bt {
         margin-top: 25px;
    }
     .slide_text {
         /*margin-top: 70px;*/
		 margin-top:12%;
    }
	.social_icon {
    margin-bottom: 30px;
}
.top-header .navbar .navbar-collapse ul li a {
padding: 7px 15px;
}

.team_member_img .social_icon_team {
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
}

}
/* only small tablets */
 @media (min-width: 768px) and (max-width: 991px) {
     .top-header .navbar .navbar-collapse ul li a{
         padding: 5px 15px;
    }
     .about-img{
         margin-bottom: 30px;
         margin-top: 30px;
    }
     .gallery-box ul li{
         width: 33.33%;
    }
     .top-header{
         position: relative;
    }
     .lbox-details{
         display: block;
         position: relative;
         width: 100%;
    }
     .countdown #timer div#days, .countdown #timer div#hours, .countdown #timer div#minutes, .countdown #timer div#seconds{
         position: inherit;
         margin: 12px 0px;
    }
     .lbox-details::before{
         background: rgba(0,0,0,0.9);
    }
     .countdown{
         height: 188px;
         border-radius: 0px;
    }
     .countdown #timer div{
         width: 23%;
         font-size: 24px;
    }
     figure.effect-service h2{
         font-size: 12px;
    }
     .top-header {
         background-image: none;
         background-color: #fff;
    }
     .search-box {
         top: 1px;
         right: 75px;
    }
     .search-btn {
         /*background: #111;*/
    }
     .search-box:hover .search-txt {
         width: 240px;
         padding: 0 10px;
         border: solid #000 1px;
         height: 41px;
    }
     .top-header .navbar .navbar-collapse ul li a:hover, .top-header .navbar .navbar-collapse ul li a:focus {
         color: #0892fd;
    }
     .slide_text p {
         display: none;
    }
     .contact_bt {
         margin-top: 10px;
    }
     .slide_text {
         margin-top: 5%;
    }
     .section.layout_padding h4 {
         text-align: left;
    }
	#demo .img-responsive {
       width: 100%;
       margin-bottom: 30px;
    }
	.carousel a.carousel-control-prev {
      left: 20px;
    }
	.carousel a.carousel-control-next {
      right: 20px;
    }
	.team_member_img img {

    border: solid #ece9e2 10px;
    border-radius: 100%;
    width: 210px;
    height: 210px;

}
.team_member_img .social_icon_team {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#team_slider p {
    padding: 0;
}

.social_icon {
    margin-bottom: 30px;
}

.heading_main h2 {
    font-size: 35px;
}
	.top-header #navbar-wd {
         padding-right: 0;
    }
     footer.footer-box p {
         margin-top: 5px;
         font-size: 13px;
    }
}
/* mobile or only mobile */
 @media (max-width: 767px) {
     .navbar-brand{
         margin-left: 10px;
         margin-right: 10px;
    }
     .top-header .navbar .navbar-collapse ul li a{
         padding: 5px 15px;
    }
     .lbox-details h1{
         font-size: 24px;
    }
     .lbox-details h2{
         font-size: 18px;
    }
     .lbox-details p strong{
         font-size: 20px;
    }
     .lbox-details a.btn{
         display: none;
    }
     .title-box h2{
         font-size: 38px;
    }
     .about-main-info h2{
         font-size: 24px;
    }
     .about-img{
         margin-bottom: 30px;
    }
     .main-timeline-box .separline::before{
         left: 15px !important;
    }
     .main-timeline-box .iconBackground{
         left: 15px !important;
    }
     .main-timeline-box .timeline-text-content{
         margin-left: 0px;
    }
     .main-timeline-box .reverse .timeline-text-content{
         margin-right: 0px;
    }
     .main-timeline-box .time-line-date-content{
         margin-right: 0px;
    }
     .main-timeline-box .time-line-date-content p{
         float: left;
    }
     .main-timeline-box .timeline-element{
         padding: 0px 15px;
    }
     .gallery-box ul li {
         width: 48%;
    }
     .top-header{
         position: relative;
    }
	p.section_count {
		display: none;
	}
     .lbox-details{
         position: relative;
         width: 100%;
         padding: 5% 0%;
    }
     .about-m{
         margin-top: 30px;
    }
     .countdown #timer div#days, .countdown #timer div#hours, .countdown #timer div#minutes, .countdown #timer div#seconds{
         position: inherit;
         margin: 12px 0px;
    }
     .lbox-details::before{
         background: rgba(0,0,0,0.9);
    }
     .countdown{
         height: 188px;
         border-radius: 0px;
    }
     .countdown #timer div{
         width: 23%;
         font-size: 24px;
    }
     .about-m{
         margin-bottom: 30px;
    }
     .timeLine .row .item{
         margin-bottom: 30px;
    }
     .filter-button-group button{
         margin-bottom: 5px;
    }
     .navbar-brand img {
         width: 175px;
    }
     .top-header {
         background-image: none;
         background-color: #ecedef;
    }
     .about-main-info div.full > img {
         height: auto;
         margin-bottom: 20px;
    }
     .search-box {
         position: absolute;
         /*top: 40px;
         right: 50px;*/
         height: auto;
         padding: 0 4px;
         /*margin-top: 29px;*/
		 
		 top: 0;
		 right: 10%;
		 margin-top: 2%;
		 
         /* display: none; */
         /* background-color: #C7C7C7;
         border-radius: 3px; */
    }
     a.navbar-brand {
         left: 0;
         position: relative;
    }
     .slide_text {
         margin-top: 10%;
		 /*display:none;*/
    }
	
     .slide_text h3 {
		font-size: 210% !important;
		margin-top: 4%;
		line-height: 120% !important;
    }
     .slide_text h4 {
         font-size: 16px;
         margin: -20px 0;
    }
     .slide_text p {
         display: none;
    }
     .contact_bt {
         /*width: 90px;
         height: 35px;
         background: #07528d;
         color: #fff;
         float: left;
         line-height: 36px;
         text-align: center;
         font-size: 14px;
         font-weight: 300;
         margin-top: 5px;*/
		 
		 width: 150px;
		 height: 50px;
		 background: #00A551;
		 color: #fff;
		 /* float: left; */
		 text-align: center;
		 font-size: 18px;
		 font-weight: 500;
		 margin-top: 0px;
		 border-radius: 5px;
		 padding: 10px 30px;
		 text-align: center!important;
		 
    }
     .top-header #navbar-wd {
         padding-right: 0;
    }
     .heading_main {
         float: left;
         width: 100%;
    }
     .heading_main p.large {
         display: none;
    }
     h3.small_heading {
         font-size: 20px;
         font-weight: 600;
         line-height: normal;
         margin-top: 25px;
    }
     #demo .img-responsive {
         margin: 10px 0;
         width: 100%;
    }
	.team_member_img img {

    border: solid #ece9e2 20px;
    border-radius: 100%;
    width: 280px;
    height: 280px;

}
.team_member_img.text_align_center {

    width: 280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    float: none;

}

.bottom_menu {

    float: right;
    width: 100%;
    justify-content: center;
    display: flex;

}

.carousel a.carousel-control-prev {
    left: 20px;
}

.carousel a.carousel-control-next {
    right: 20px;
}

.footer_blog {
    margin-top: 25px;
}
	.team_member_img .social_icon_team {

    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgba(244,56,102,0.7);
    opacity: 0;
    transition: ease all 0.2s;

}
     .footer_bottom p.crp {
         float: left;
         width: 100%;
         text-align: center;
    }
     .heading_main h2 {
         font-size: 25px;
    }
}
 
 
 
 @media (max-width: 500px) {
	 .navbar-brand{
         margin-left: 10px;
         margin-right: 10px;
    }
     .top-header .navbar .navbar-collapse ul li a{
         padding: 5px 15px;
    }
     .lbox-details h1{
         font-size: 24px;
    }
     .lbox-details h2{
         font-size: 18px;
    }
     .lbox-details p strong{
         font-size: 20px;
    }
     .lbox-details a.btn{
         display: none;
    }
     .title-box h2{
         font-size: 38px;
    }
     .about-main-info h2{
         font-size: 24px;
    }
     .about-img{
         margin-bottom: 30px;
    }
     .main-timeline-box .separline::before{
         left: 15px !important;
    }
     .main-timeline-box .iconBackground{
         left: 15px !important;
    }
     .main-timeline-box .timeline-text-content{
         margin-left: 0px;
    }
     .main-timeline-box .reverse .timeline-text-content{
         margin-right: 0px;
    }
     .main-timeline-box .time-line-date-content{
         margin-right: 0px;
    }
     .main-timeline-box .time-line-date-content p{
         float: left;
    }
     .main-timeline-box .timeline-element{
         padding: 0px 15px;
    }
     .gallery-box ul li {
         width: 48%;
    }
     .top-header{
         position: relative;
    }
	p.section_count {
		display: none;
	}
     .lbox-details{
         position: relative;
         width: 100%;
         padding: 5% 0%;
    }
     .about-m{
         margin-top: 30px;
    }
     .countdown #timer div#days, .countdown #timer div#hours, .countdown #timer div#minutes, .countdown #timer div#seconds{
         position: inherit;
         margin: 12px 0px;
    }
     .lbox-details::before{
         background: rgba(0,0,0,0.9);
    }
     .countdown{
         height: 188px;
         border-radius: 0px;
    }
     .countdown #timer div{
         width: 23%;
         font-size: 24px;
    }
     .about-m{
         margin-bottom: 30px;
    }
     .timeLine .row .item{
         margin-bottom: 30px;
    }
     .filter-button-group button{
         margin-bottom: 5px;
    }
     .navbar-brand img {
         width: 175px;
    }
     .top-header {
         background-image: none;
         background-color: #ecedef;
    }
     .about-main-info div.full > img {
         height: auto;
         margin-bottom: 20px;
    }
     .search-box {
         position: absolute;
         /*top: 40px;
         right: 50px;*/
         height: auto;
         padding: 0px 0px;
         /*margin-top: 29px;*/
		 
		 top: 0;
		 right: 17%;
		 margin-top: 2%;
		 
         /* display: none; */
         /* background-color: #C7C7C7;
         border-radius: 3px; */
    }
     a.navbar-brand {
         left: 0;
         position: relative;
    }
     .slide_text {
         margin-top: 10%;
		 line-height: 0.3;
		 /*display:none;*/
    }
	
     .slide_text h3 {
		font-size: 120% !important;
		margin-top: 4%;
		line-height: 120% !important;
    }
     .slide_text h4 {
		font-size: 80%;
		margin: -15px 0;
	}
     .slide_text p {
         display: none;
    }
     .contact_bt {
         width: 150px;
		height: 50px;
		background: #00A551;
		color: #fff;
		/* float: left; */
		text-align: center;
		font-size: 50%;
		font-weight: 500;
		margin-top: 0px;
		border-radius: 5px;
		padding: 2% 2%;
		text-align: center!important;
		 
    }
	
	.slide_text img{
		width: 20%;
		height: 20%;
	}
	
     .top-header #navbar-wd {
         padding-right: 0;
    }
     .heading_main {
         float: left;
         width: 100%;
    }
     .heading_main p.large {
         display: none;
    }
     h3.small_heading {
         font-size: 20px;
         font-weight: 600;
         line-height: normal;
         margin-top: 25px;
    }
     #demo .img-responsive {
         margin: 10px 0;
         width: 100%;
    }
	.team_member_img img {

    border: solid #ece9e2 20px;
    border-radius: 100%;
    width: 280px;
    height: 280px;

}
.team_member_img.text_align_center {

    width: 280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    float: none;

}

.bottom_menu {

    float: right;
    width: 100%;
    justify-content: center;
    display: flex;

}

.carousel a.carousel-control-prev {
    left: 20px;
}

.carousel a.carousel-control-next {
    right: 20px;
}

.footer_blog {
    margin-top: 25px;
}
	.team_member_img .social_icon_team {

    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgba(244,56,102,0.7);
    opacity: 0;
    transition: ease all 0.2s;

}
     .footer_bottom p.crp {
         float: left;
         width: 100%;
         text-align: center;
    }
     .heading_main h2 {
         font-size: 25px;
    }
	.icon-sosmed {
		position: absolute;
		right: -40px !important;
		z-index: 999;
		bottom: 15px;
	}
	.icon-sosmed a img{
		width:10%;
		height:10%;
	}
	.btn-user label{
		font-size: 10px;
	}
	.search-btn{
		width:10%;
		height:10%;
		padding-top: 8%;
		margin-right: 10%;
	}
	.search-btn img{
		width:200%;
		height:200%;
	}
 }