@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Artboard – 2;
		--web-view-id: Artboard__2;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-scale-on-double-click: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Artboard__2 {
		position: absolute;
		display: block;
		width: 1920px;
		height: 1630px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Artboard – 2;
		--web-view-id: Artboard__2;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-scale-on-double-click: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#GREEN_SIDEBAR_BG {
		position: absolute;
		width: 521px;
		height: 1630px;
		left: -10px;
		top: 0px;
		overflow: visible;
	}
	#Group_204 {
		position: absolute;
		width: 521px;
		height: 1630px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_17_fs {
		fill: rgba(204,217,221,1);
	}
	.Rectangle_17_fs {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 539px;
		height: 1648px;
		left: 0px;
		top: 0px;
	}
	#Mask_Group_1 {
		position: absolute;
		width: 521px;
		height: 1630px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_27 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_27 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1938px;
		height: 191px;
		left: 0px;
		top: 0px;
	}
	#Group_194 {
		position: absolute;
		width: 47px;
		height: 43px;
		left: 1799px;
		top: 69px;
		overflow: visible;
	}
	#Rectangle_24_fw {
		fill: rgba(0,0,0,1);
	}
	.Rectangle_24_fw {
		position: absolute;
		overflow: visible;
		width: 47px;
		height: 11px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_24_fx {
		fill: rgba(0,0,0,1);
	}
	.Rectangle_24_fx {
		position: absolute;
		overflow: visible;
		width: 47px;
		height: 11px;
		left: 0px;
		top: 16px;
	}
	#Rectangle_24_fy {
		fill: rgba(0,0,0,1);
	}
	.Rectangle_24_fy {
		position: absolute;
		overflow: visible;
		width: 47px;
		height: 11px;
		left: 0px;
		top: 32px;
	}
	#Icon_awesome-user-circle_fz {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-user-circle_fz {
		overflow: visible;
		position: absolute;
		width: 45.972px;
		height: 45.972px;
		left: 1694.291px;
		top: 68px;
		transform: matrix(1,0,0,1,0,0);
	}
	#document-text_f {
		position: absolute;
		width: 31.891px;
		height: 40.588px;
		left: 1603.356px;
		top: 71px;
		overflow: visible;
	}
	#Path_215_f {
		fill: rgba(0,0,0,1);
	}
	.Path_215_f {
		overflow: visible;
		position: absolute;
		width: 31.891px;
		height: 40.588px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_216_f {
		fill: rgba(0,0,0,1);
	}
	.Path_216_f {
		overflow: visible;
		position: absolute;
		width: 13.39px;
		height: 13.39px;
		left: 17.395px;
		top: 1.106px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Layer_3_f {
		fill: rgba(0,0,0,1);
	}
	.Layer_3_f {
		overflow: visible;
		position: absolute;
		width: 41.233px;
		height: 44.135px;
		left: 1503.088px;
		top: 69px;
		transform: matrix(1,0,0,1,0,0);
	}
	#notification-solid_f {
		position: absolute;
		width: 38.398px;
		height: 41.892px;
		left: 1317.906px;
		top: 70px;
		overflow: visible;
	}
	#Path_219_f {
		fill: rgba(0,0,0,1);
	}
	.Path_219_f {
		overflow: visible;
		position: absolute;
		width: 38.398px;
		height: 37.593px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_220_f {
		fill: rgba(0,0,0,1);
	}
	.Path_220_f {
		overflow: visible;
		position: absolute;
		width: 6.765px;
		height: 2.947px;
		left: 15.81px;
		top: 38.945px;
		transform: matrix(1,0,0,1,0,0);
	}
	#mail-unread_f {
		position: absolute;
		width: 42.038px;
		height: 33.346px;
		left: 1217.614px;
		top: 74px;
		overflow: visible;
	}
	#Path_221_f {
		fill: rgba(0,0,0,1);
	}
	.Path_221_f {
		overflow: visible;
		position: absolute;
		width: 11.602px;
		height: 11.606px;
		left: 30.436px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_222_f {
		fill: rgba(0,0,0,1);
	}
	.Path_222_f {
		overflow: visible;
		position: absolute;
		width: 40.59px;
		height: 31.892px;
		left: 0px;
		top: 1.454px;
		transform: matrix(1,0,0,1,0,0);
	}
	#expand-sharp_ga {
		position: absolute;
		width: 33.346px;
		height: 33.346px;
		left: 1126.359px;
		top: 74px;
		overflow: visible;
	}
	#Path_223_gb {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_223_gb {
		overflow: visible;
		position: absolute;
		width: 12.86px;
		height: 12.86px;
		left: 22.736px;
		top: 22.736px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_224_gc {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_224_gc {
		overflow: visible;
		position: absolute;
		width: 14.342px;
		height: 14.339px;
		left: 21.22px;
		top: 21.22px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_225_gd {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_225_gd {
		overflow: visible;
		position: absolute;
		width: 12.86px;
		height: 12.86px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_226_ge {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_226_ge {
		overflow: visible;
		position: absolute;
		width: 14.342px;
		height: 14.339px;
		left: 0.966px;
		top: 0.969px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_227_gf {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_227_gf {
		overflow: visible;
		position: absolute;
		width: 12.86px;
		height: 12.86px;
		left: 22.736px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_228_gg {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_228_gg {
		overflow: visible;
		position: absolute;
		width: 14.339px;
		height: 14.342px;
		left: 21.22px;
		top: 0.966px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_229_gh {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_229_gh {
		overflow: visible;
		position: absolute;
		width: 12.86px;
		height: 12.86px;
		left: 0px;
		top: 22.736px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_230_gi {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_230_gi {
		overflow: visible;
		position: absolute;
		width: 14.339px;
		height: 14.342px;
		left: 0.969px;
		top: 21.22px;
		transform: matrix(1,0,0,1,0,0);
	}
	#flag-fill_gj {
		position: absolute;
		width: 28.992px;
		height: 40.588px;
		left: 1415.318px;
		top: 71px;
		overflow: visible;
	}
	#Path_231_gk {
		fill: rgba(0,0,0,1);
	}
	.Path_231_gk {
		overflow: visible;
		position: absolute;
		width: 2.899px;
		height: 40.588px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_232_gl {
		fill: rgba(0,0,0,1);
	}
	.Path_232_gl {
		overflow: visible;
		position: absolute;
		width: 27.542px;
		height: 23.193px;
		left: 1.45px;
		top: 1.45px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_195 {
		position: absolute;
		width: 351.081px;
		height: 86.338px;
		left: 45px;
		top: 48px;
		overflow: visible;
	}
	#Group_149_gn {
		position: absolute;
		width: 256.14px;
		height: 52.711px;
		left: 94.941px;
		top: 4.916px;
		overflow: visible;
	}
	#Group_147_go {
		position: absolute;
		width: 255.86px;
		height: 32.7px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_95_gp {
		fill: rgba(51,51,51,1);
	}
	.Path_95_gp {
		overflow: visible;
		position: absolute;
		width: 22.777px;
		height: 32.069px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_96_gq {
		fill: rgba(51,51,51,1);
	}
	.Path_96_gq {
		overflow: visible;
		position: absolute;
		width: 11.234px;
		height: 32.069px;
		left: 25.797px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_97_gr {
		fill: rgba(51,51,51,1);
	}
	.Path_97_gr {
		overflow: visible;
		position: absolute;
		width: 25.664px;
		height: 25.619px;
		left: 39.959px;
		top: 7.082px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_98_gs {
		fill: rgba(51,51,51,1);
	}
	.Path_98_gs {
		overflow: visible;
		position: absolute;
		width: 40.318px;
		height: 32.069px;
		left: 81.634px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_99_gt {
		fill: rgba(51,51,51,1);
	}
	.Path_99_gt {
		overflow: visible;
		position: absolute;
		width: 25.621px;
		height: 25.619px;
		left: 125.112px;
		top: 7.082px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_100_gu {
		fill: rgba(51,51,51,1);
	}
	.Path_100_gu {
		overflow: visible;
		position: absolute;
		width: 28.731px;
		height: 32.61px;
		left: 153.66px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_101_gv {
		fill: rgba(51,51,51,1);
	}
	.Path_101_gv {
		overflow: visible;
		position: absolute;
		width: 11.233px;
		height: 32.069px;
		left: 185.635px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_102_gw {
		fill: rgba(51,51,51,1);
	}
	.Path_102_gw {
		overflow: visible;
		position: absolute;
		width: 25.346px;
		height: 32.069px;
		left: 200.024px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_103_gx {
		fill: rgba(51,51,51,1);
	}
	.Path_103_gx {
		overflow: visible;
		position: absolute;
		width: 28.732px;
		height: 25.392px;
		left: 227.128px;
		top: 7.218px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_148_gy {
		position: absolute;
		width: 255.987px;
		height: 13.644px;
		left: 0.153px;
		top: 39.067px;
		overflow: visible;
	}
	#Path_104_gz {
		fill: rgba(51,51,51,1);
	}
	.Path_104_gz {
		overflow: visible;
		position: absolute;
		width: 9.208px;
		height: 13.363px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_105_g {
		fill: rgba(51,51,51,1);
	}
	.Path_105_g {
		overflow: visible;
		position: absolute;
		width: 11.802px;
		height: 10.575px;
		left: 14.451px;
		top: 3.01px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_106_g {
		fill: rgba(51,51,51,1);
	}
	.Path_106_g {
		overflow: visible;
		position: absolute;
		width: 11.82px;
		height: 13.585px;
		left: 31.459px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_107_g {
		fill: rgba(51,51,51,1);
	}
	.Path_107_g {
		overflow: visible;
		position: absolute;
		width: 10.41px;
		height: 10.696px;
		left: 48.334px;
		top: 2.948px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_108_g {
		fill: rgba(51,51,51,1);
	}
	.Path_108_g {
		overflow: visible;
		position: absolute;
		width: 6.427px;
		height: 10.262px;
		left: 63.911px;
		top: 3.101px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_109_g {
		fill: rgba(51,51,51,1);
	}
	.Path_109_g {
		overflow: visible;
		position: absolute;
		width: 11.802px;
		height: 10.575px;
		left: 75.337px;
		top: 3.01px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_110_g {
		fill: rgba(51,51,51,1);
	}
	.Path_110_g {
		overflow: visible;
		position: absolute;
		width: 4.319px;
		height: 13.363px;
		left: 92.233px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_111_g {
		fill: rgba(51,51,51,1);
	}
	.Path_111_g {
		overflow: visible;
		position: absolute;
		width: 10.41px;
		height: 10.696px;
		left: 101.892px;
		top: 2.948px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_112_g {
		fill: rgba(51,51,51,1);
	}
	.Path_112_g {
		overflow: visible;
		position: absolute;
		width: 6.428px;
		height: 10.262px;
		left: 117.469px;
		top: 3.101px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_113_g {
		fill: rgba(51,51,51,1);
	}
	.Path_113_g {
		overflow: visible;
		position: absolute;
		width: 4.267px;
		height: 13.363px;
		left: 129.008px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_114_g {
		fill: rgba(51,51,51,1);
	}
	.Path_114_g {
		overflow: visible;
		position: absolute;
		width: 11.446px;
		height: 10.3px;
		left: 138.12px;
		top: 3.269px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_115_ha {
		fill: rgba(51,51,51,1);
	}
	.Path_115_ha {
		overflow: visible;
		position: absolute;
		width: 17.289px;
		height: 10.3px;
		left: 154.681px;
		top: 3.063px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_116_hb {
		fill: rgba(51,51,51,1);
	}
	.Path_116_hb {
		overflow: visible;
		position: absolute;
		width: 11.089px;
		height: 13.363px;
		left: 186.154px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_117_hc {
		fill: rgba(51,51,51,1);
	}
	.Path_117_hc {
		overflow: visible;
		position: absolute;
		width: 4.267px;
		height: 13.363px;
		left: 201.339px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_118_hd {
		fill: rgba(51,51,51,1);
	}
	.Path_118_hd {
		overflow: visible;
		position: absolute;
		width: 4.266px;
		height: 13.363px;
		left: 210.715px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_119_he {
		fill: rgba(51,51,51,1);
	}
	.Path_119_he {
		overflow: visible;
		position: absolute;
		width: 11.446px;
		height: 10.3px;
		left: 220.093px;
		top: 3.063px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_120_hf {
		fill: rgba(51,51,51,1);
	}
	.Path_120_hf {
		overflow: visible;
		position: absolute;
		width: 4.265px;
		height: 13.363px;
		left: 236.557px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_121_hg {
		fill: rgba(51,51,51,1);
	}
	.Path_121_hg {
		overflow: visible;
		position: absolute;
		width: 10.052px;
		height: 13.363px;
		left: 245.935px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_150_hh {
		position: absolute;
		width: 89.387px;
		height: 13.392px;
		left: 259.086px;
		top: 71.175px;
		overflow: visible;
	}
	#Path_122_hi {
		fill: rgba(51,51,51,1);
	}
	.Path_122_hi {
		overflow: visible;
		position: absolute;
		width: 6.639px;
		height: 10.835px;
		left: 74.931px;
		top: 2.327px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_123_hj {
		fill: rgba(51,51,51,1);
	}
	.Path_123_hj {
		overflow: visible;
		position: absolute;
		width: 52.826px;
		height: 9.429px;
		left: 0px;
		top: 3.963px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_124_hk {
		fill: rgba(51,51,51,1);
	}
	.Path_124_hk {
		overflow: visible;
		position: absolute;
		width: 4.409px;
		height: 10.528px;
		left: 60.18px;
		top: 2.47px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_125_hl {
		fill: rgba(51,51,51,1);
	}
	.Path_125_hl {
		overflow: visible;
		position: absolute;
		width: 6.339px;
		height: 11.065px;
		left: 67.169px;
		top: 2.327px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_126_hm {
		fill: rgba(51,51,51,1);
	}
	.Path_126_hm {
		overflow: visible;
		position: absolute;
		width: 6.718px;
		height: 10.848px;
		left: 82.669px;
		top: 2.314px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_127_hn {
		fill: rgba(51,51,51,1);
	}
	.Path_127_hn {
		overflow: visible;
		position: absolute;
		width: 2.402px;
		height: 2.43px;
		left: 17.932px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_128_ho {
		fill: rgba(0,149,59,1);
	}
	.Path_128_ho {
		overflow: visible;
		position: absolute;
		width: 81.272px;
		height: 86.338px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#HOME {
		position: absolute;
		width: 156.674px;
		height: 42.035px;
		left: 52.326px;
		top: 260px;
		overflow: visible;
	}
	#Icon_awesome-home_hq {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-home_hq {
		overflow: visible;
		position: absolute;
		width: 54.055px;
		height: 42.035px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Home {
		left: 73.674px;
		top: 9px;
		position: absolute;
		overflow: visible;
		width: 84px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 31px;
		color: rgba(0,0,0,1);
	}
	#OPERATIONAL {
		position: absolute;
		width: 223.697px;
		height: 47.391px;
		left: 59.303px;
		top: 368px;
		overflow: visible;
	}
	#Group_199_ht {
		position: absolute;
		width: 39.49px;
		height: 47.391px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_144_hu {
		fill: rgba(0,0,0,1);
	}
	.Path_144_hu {
		overflow: visible;
		position: absolute;
		width: 15.797px;
		height: 3.949px;
		left: 11.846px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_145_hv {
		fill: rgba(0,0,0,1);
	}
	.Path_145_hv {
		overflow: visible;
		position: absolute;
		width: 39.49px;
		height: 46.403px;
		left: 0px;
		top: 0.987px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_146_hw {
		fill: rgba(0,0,0,1);
	}
	.Path_146_hw {
		overflow: visible;
		position: absolute;
		width: 23.695px;
		height: 12.83px;
		left: 7.897px;
		top: 26.663px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Operational {
		left: 68.697px;
		top: 11px;
		position: absolute;
		overflow: visible;
		width: 156px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#SUPPORT_GROUP {
		position: absolute;
		width: 263.697px;
		height: 37px;
		left: 59.303px;
		top: 488px;
		overflow: visible;
	}
	#group_hz {
		fill: rgba(0,0,0,1);
	}
	.group_hz {
		overflow: visible;
		position: absolute;
		width: 39.231px;
		height: 36.615px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Support_Group {
		left: 66.697px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 198px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#GENERAL_REPORTS {
		position: absolute;
		width: 283.86px;
		height: 42.721px;
		left: 58.14px;
		top: 595.62px;
		overflow: visible;
	}
	#Group_200_h {
		position: absolute;
		width: 42.721px;
		height: 42.721px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_159_h {
		position: absolute;
		width: 11.309px;
		height: 11.57px;
		left: 0.261px;
		top: 0px;
		overflow: visible;
	}
	#Group_158_h {
		position: absolute;
		width: 11.309px;
		height: 11.57px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_152_h {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_152_h {
		overflow: visible;
		position: absolute;
		width: 11.913px;
		height: 12.07px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_161_h {
		position: absolute;
		width: 32.041px;
		height: 42.721px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_160_h {
		position: absolute;
		width: 32.041px;
		height: 42.721px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_153_h {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_153_h {
		overflow: visible;
		position: absolute;
		width: 32.541px;
		height: 43.221px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_163_h {
		position: absolute;
		width: 21.36px;
		height: 21.36px;
		left: 21.361px;
		top: 21.361px;
		overflow: visible;
	}
	#Group_162_ia {
		position: absolute;
		width: 21.36px;
		height: 21.36px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_154_ib {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_154_ib {
		overflow: visible;
		position: absolute;
		width: 21.999px;
		height: 21.929px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_165_ic {
		position: absolute;
		width: 3.56px;
		height: 3.56px;
		left: 21.361px;
		top: 21.361px;
		overflow: visible;
	}
	#Group_164_id {
		position: absolute;
		width: 3.56px;
		height: 3.56px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_155_ie {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_155_ie {
		overflow: visible;
		position: absolute;
		width: 4.06px;
		height: 4.06px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_167_if {
		position: absolute;
		width: 10.68px;
		height: 10.68px;
		left: 4.45px;
		top: 27.591px;
		overflow: visible;
	}
	#Group_166_ig {
		position: absolute;
		width: 10.68px;
		height: 10.68px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_156_ih {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_156_ih {
		overflow: visible;
		position: absolute;
		width: 11.18px;
		height: 11.18px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_169_ii {
		position: absolute;
		width: 17.8px;
		height: 1.78px;
		left: 4.45px;
		top: 21.361px;
		overflow: visible;
	}
	#Group_168_ij {
		position: absolute;
		width: 17.8px;
		height: 1.78px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_19_ik {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_19_ik {
		position: absolute;
		overflow: visible;
		width: 18.3px;
		height: 2.28px;
		left: 0px;
		top: 0px;
	}
	#Group_171_il {
		position: absolute;
		width: 23.141px;
		height: 1.78px;
		left: 4.45px;
		top: 16.91px;
		overflow: visible;
	}
	#Group_170_im {
		position: absolute;
		width: 23.141px;
		height: 1.78px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_20_in {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_20_in {
		position: absolute;
		overflow: visible;
		width: 23.641px;
		height: 2.28px;
		left: 0px;
		top: 0px;
	}
	#Group_173_io {
		position: absolute;
		width: 13.35px;
		height: 1.78px;
		left: 14.24px;
		top: 12.46px;
		overflow: visible;
	}
	#Group_172_ip {
		position: absolute;
		width: 13.35px;
		height: 1.78px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_21_iq {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_21_iq {
		position: absolute;
		overflow: visible;
		width: 13.85px;
		height: 2.28px;
		left: 0px;
		top: 0px;
	}
	#Group_175_ir {
		position: absolute;
		width: 9.79px;
		height: 1.78px;
		left: 17.8px;
		top: 8.01px;
		overflow: visible;
	}
	#Group_174_is {
		position: absolute;
		width: 9.79px;
		height: 1.78px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_22_it {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_22_it {
		position: absolute;
		overflow: visible;
		width: 10.29px;
		height: 2.28px;
		left: 0px;
		top: 0px;
	}
	#Group_177_iu {
		position: absolute;
		width: 1.78px;
		height: 1.78px;
		left: 14.24px;
		top: 8.01px;
		overflow: visible;
	}
	#Group_176_iv {
		position: absolute;
		width: 1.78px;
		height: 1.78px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_23_iw {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23_iw {
		position: absolute;
		overflow: visible;
		width: 2.28px;
		height: 2.28px;
		left: 0px;
		top: 0px;
	}
	#General_Reports {
		left: 63.86px;
		top: 8.38px;
		position: absolute;
		overflow: visible;
		width: 221px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#ANNOUNCEMENT {
		position: absolute;
		width: 281.348px;
		height: 39.546px;
		left: 54.652px;
		top: 708.333px;
		overflow: visible;
	}
	#Group_201_iz {
		position: absolute;
		width: 48.091px;
		height: 39.546px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_180_i {
		position: absolute;
		width: 48.091px;
		height: 39.546px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_179_i {
		position: absolute;
		width: 48.091px;
		height: 39.546px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_157_i {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_157_i {
		overflow: visible;
		position: absolute;
		width: 43.791px;
		height: 40.066px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_158_i {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_158_i {
		overflow: visible;
		position: absolute;
		width: 5.231px;
		height: 4.917px;
		left: 42.632px;
		top: 8.79px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_159_i {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_159_i {
		overflow: visible;
		position: absolute;
		width: 5.088px;
		height: 4.917px;
		left: 42.632px;
		top: 24.096px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_160_i {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_160_i {
		overflow: visible;
		position: absolute;
		width: 4.458px;
		height: 2.378px;
		left: 44.132px;
		top: 17.677px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_161_i {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_161_i {
		overflow: visible;
		position: absolute;
		width: 2.378px;
		height: 2.378px;
		left: 4.995px;
		top: 20.612px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Announcement_ {
		left: 71.348px;
		top: 4.667px;
		position: absolute;
		overflow: visible;
		width: 211px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#CLOCK_IN {
		position: absolute;
		width: 175.86px;
		height: 41.194px;
		left: 58.14px;
		top: 822.54px;
		overflow: visible;
	}
	#Group_202_i {
		position: absolute;
		width: 42.721px;
		height: 41.194px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_162_ja {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_162_ja {
		overflow: visible;
		position: absolute;
		width: 39.978px;
		height: 30.941px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_163_jb {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_163_jb {
		overflow: visible;
		position: absolute;
		width: 8.211px;
		height: 5.971px;
		left: 0px;
		top: 32.042px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_164_jc {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_164_jc {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.752px;
		left: 4.263px;
		top: 13.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_165_jd {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_165_jd {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.752px;
		left: 10.948px;
		top: 13.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_166_je {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_166_je {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.752px;
		left: 17.633px;
		top: 13.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_167_jf {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_167_jf {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.752px;
		left: 24.317px;
		top: 13.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_168_jg {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_168_jg {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.752px;
		left: 31.002px;
		top: 13.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_169_jh {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_169_jh {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.751px;
		left: 4.263px;
		top: 16.561px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_170_ji {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_170_ji {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.751px;
		left: 10.948px;
		top: 16.561px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_171_jj {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_171_jj {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.751px;
		left: 17.633px;
		top: 16.561px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_172_jk {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_172_jk {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.751px;
		left: 24.317px;
		top: 16.561px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_173_jl {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_173_jl {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.751px;
		left: 31.002px;
		top: 16.561px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_174_jm {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_174_jm {
		overflow: visible;
		position: absolute;
		width: 17.621px;
		height: 14.239px;
		left: 10.868px;
		top: 20.298px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_175_jn {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_175_jn {
		overflow: visible;
		position: absolute;
		width: 33.91px;
		height: 21px;
		left: 9.311px;
		top: 20.694px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_176_jo {
		fill: rgba(0,0,0,1);
	}
	.Path_176_jo {
		overflow: visible;
		position: absolute;
		width: 12.293px;
		height: 12.293px;
		left: 28.272px;
		top: 26.745px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_177_jp {
		fill: rgba(0,0,0,1);
	}
	.Path_177_jp {
		overflow: visible;
		position: absolute;
		width: 2.631px;
		height: 2.519px;
		left: 33.793px;
		top: 30.998px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Clock_In {
		left: 67.86px;
		top: 8.46px;
		position: absolute;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#E_DOCUMENT {
		position: absolute;
		width: 254.534px;
		height: 38.367px;
		left: 60.466px;
		top: 938.621px;
		overflow: visible;
	}
	#Icon_material-picture-as-pdf_js {
		fill: rgba(0,0,0,1);
	}
	.Icon_material-picture-as-pdf_js {
		overflow: visible;
		position: absolute;
		width: 38.367px;
		height: 38.367px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#E_-_Document {
		left: 71.534px;
		top: 3.379px;
		position: absolute;
		overflow: visible;
		width: 184px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#INFO_PEMERIKSAAN {
		position: absolute;
		width: 240.534px;
		height: 66px;
		left: 60.466px;
		top: 1035px;
		overflow: visible;
	}
	#Group_196_jv {
		position: absolute;
		width: 37.07px;
		height: 46.98px;
		left: 0px;
		top: 6.326px;
		overflow: visible;
	}
	#Group_183_jw {
		position: absolute;
		width: 37.07px;
		height: 46.98px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_178_jx {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_178_jx {
		overflow: visible;
		position: absolute;
		width: 37.57px;
		height: 47.479px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_179_jy {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_179_jy {
		overflow: visible;
		position: absolute;
		width: 2.335px;
		height: 2.335px;
		left: 17.617px;
		top: 5.98px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_180_jz {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_180_jz {
		overflow: visible;
		position: absolute;
		width: 11.878px;
		height: 11.878px;
		left: 12.844px;
		top: 13.947px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_181_j {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_181_j {
		overflow: visible;
		position: absolute;
		width: 11.146px;
		height: 2.335px;
		left: 17.613px;
		top: 35.969px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_182_j {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_182_j {
		overflow: visible;
		position: absolute;
		width: 6.737px;
		height: 2.335px;
		left: 8.806px;
		top: 35.969px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_183_j {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_183_j {
		overflow: visible;
		position: absolute;
		width: 11.146px;
		height: 2.335px;
		left: 17.613px;
		top: 31.932px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_184_j {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_184_j {
		overflow: visible;
		position: absolute;
		width: 6.737px;
		height: 2.335px;
		left: 8.806px;
		top: 31.932px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_185_j {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_185_j {
		overflow: visible;
		position: absolute;
		width: 11.146px;
		height: 2.335px;
		left: 17.613px;
		top: 27.894px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_186_j {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_186_j {
		overflow: visible;
		position: absolute;
		width: 6.737px;
		height: 2.335px;
		left: 8.806px;
		top: 27.894px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_187_j {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_187_j {
		overflow: visible;
		position: absolute;
		width: 2.335px;
		height: 2.335px;
		left: 35.232px;
		top: 25.142px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Informasi_Pemeriksaan {
		left: 65.534px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 176px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#MEETING_ROOM {
		position: absolute;
		width: 271px;
		height: 36.166px;
		left: 50px;
		top: 1157.834px;
		overflow: visible;
	}
	#Group_203_j {
		position: absolute;
		width: 58.808px;
		height: 34.768px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_188_ka {
		fill: rgba(0,0,0,1);
	}
	.Path_188_ka {
		overflow: visible;
		position: absolute;
		width: 58.808px;
		height: 34.768px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Meeting_Room {
		left: 76px;
		top: 6.166px;
		position: absolute;
		overflow: visible;
		width: 196px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#ALL_REPORT {
		position: absolute;
		width: 204.697px;
		height: 40.051px;
		left: 59.303px;
		top: 1266px;
		overflow: visible;
	}
	#Group_197_kd {
		position: absolute;
		width: 40.051px;
		height: 40.051px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_189_ke {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_189_ke {
		overflow: visible;
		position: absolute;
		width: 8.183px;
		height: 30.689px;
		left: 31.373px;
		top: 9.901px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_190_kf {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_190_kf {
		overflow: visible;
		position: absolute;
		width: 9.343px;
		height: 7.433px;
		left: 31.257px;
		top: 1.936px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_191_kg {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_191_kg {
		overflow: visible;
		position: absolute;
		width: 30.538px;
		height: 40.551px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192_kh {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_192_kh {
		overflow: visible;
		position: absolute;
		width: 7.692px;
		height: 6.377px;
		left: 5.536px;
		top: 19.591px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193_ki {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_193_ki {
		overflow: visible;
		position: absolute;
		width: 8.51px;
		height: 8.51px;
		left: 3.337px;
		top: 19.358px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194_kj {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_194_kj {
		overflow: visible;
		position: absolute;
		width: 7.692px;
		height: 6.377px;
		left: 5.536px;
		top: 29.604px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_195_kk {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_195_kk {
		overflow: visible;
		position: absolute;
		width: 8.51px;
		height: 8.51px;
		left: 3.337px;
		top: 29.371px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_196_kl {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_196_kl {
		overflow: visible;
		position: absolute;
		width: 10.513px;
		height: 1.835px;
		left: 14.018px;
		top: 29.371px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_197_km {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_197_km {
		overflow: visible;
		position: absolute;
		width: 3.838px;
		height: 1.835px;
		left: 14.018px;
		top: 32.708px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_198_kn {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_198_kn {
		overflow: visible;
		position: absolute;
		width: 5.84px;
		height: 1.835px;
		left: 18.69px;
		top: 32.708px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_199_ko {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_199_ko {
		overflow: visible;
		position: absolute;
		width: 10.513px;
		height: 1.835px;
		left: 14.018px;
		top: 19.358px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_200_kp {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_200_kp {
		overflow: visible;
		position: absolute;
		width: 3.838px;
		height: 1.835px;
		left: 14.018px;
		top: 22.696px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_201_kq {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_201_kq {
		overflow: visible;
		position: absolute;
		width: 5.84px;
		height: 1.835px;
		left: 18.69px;
		top: 22.696px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_202_kr {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_202_kr {
		overflow: visible;
		position: absolute;
		width: 13.843px;
		height: 15.216px;
		left: 8.678px;
		top: 2.67px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_203_ks {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_203_ks {
		overflow: visible;
		position: absolute;
		width: 7.659px;
		height: 5.804px;
		left: 12.195px;
		top: 6.875px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_204_kt {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_204_kt {
		overflow: visible;
		position: absolute;
		width: 4.505px;
		height: 1.835px;
		left: 3.337px;
		top: 2.67px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_205_ku {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_205_ku {
		overflow: visible;
		position: absolute;
		width: 3.17px;
		height: 1.835px;
		left: 3.337px;
		top: 5.34px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_206_kv {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_206_kv {
		overflow: visible;
		position: absolute;
		width: 1.835px;
		height: 1.835px;
		left: 23.363px;
		top: 2.67px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_207_kw {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_207_kw {
		overflow: visible;
		position: absolute;
		width: 1.835px;
		height: 1.835px;
		left: 26.033px;
		top: 2.67px;
		transform: matrix(1,0,0,1,0,0);
	}
	#All_Report {
		left: 72.697px;
		top: 8px;
		position: absolute;
		overflow: visible;
		width: 133px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#DATA_MASTER {
		position: absolute;
		width: 230.86px;
		height: 42.721px;
		left: 58.14px;
		top: 1377px;
		overflow: visible;
	}
	#Group_198_kz {
		position: absolute;
		width: 42.554px;
		height: 42.721px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_208_k {
		fill: rgba(0,0,0,1);
	}
	.Path_208_k {
		overflow: visible;
		position: absolute;
		width: 9.146px;
		height: 2.503px;
		left: 10.013px;
		top: 34.794px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_209_k {
		fill: rgba(0,0,0,1);
	}
	.Path_209_k {
		overflow: visible;
		position: absolute;
		width: 9.146px;
		height: 2.503px;
		left: 10.013px;
		top: 23.447px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_210_k {
		fill: rgba(0,0,0,1);
	}
	.Path_210_k {
		overflow: visible;
		position: absolute;
		width: 42.554px;
		height: 42.721px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_17_k {
		fill: rgba(0,0,0,1);
	}
	.Ellipse_17_k {
		position: absolute;
		overflow: visible;
		width: 3.057px;
		height: 3.057px;
		left: 24.376px;
		top: 22.931px;
	}
	#Ellipse_18_k {
		fill: rgba(0,0,0,1);
	}
	.Ellipse_18_k {
		position: absolute;
		overflow: visible;
		width: 1.529px;
		height: 3.057px;
		left: 30.491px;
		top: 22.931px;
	}
	#Ellipse_19_k {
		fill: rgba(0,0,0,1);
	}
	.Ellipse_19_k {
		position: absolute;
		overflow: visible;
		width: 3.057px;
		height: 1.529px;
		left: 24.376px;
		top: 35.161px;
	}
	#Ellipse_20_k {
		fill: rgba(0,0,0,1);
	}
	.Ellipse_20_k {
		position: absolute;
		overflow: visible;
		width: 1.529px;
		height: 1.529px;
		left: 30.491px;
		top: 35.161px;
	}
	#Data_Master {
		left: 67.86px;
		top: 9px;
		position: absolute;
		overflow: visible;
		width: 164px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#LOGOUT {
		position: absolute;
		width: 172.534px;
		height: 38.374px;
		left: 60.466px;
		top: 1503.377px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: view;
		--web-action-target: WELCOME_PAGE__2;
		cursor: pointer;
	}
	#logout_k {
		fill: rgba(0,0,0,1);
	}
	.logout_k {
		overflow: visible;
		position: absolute;
		width: 38.383px;
		height: 38.374px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Log_Out {
		left: 65.534px;
		top: 7.623px;
		position: absolute;
		overflow: visible;
		width: 108px;
		white-space: nowrap;
		text-align: left;
		font-family: Gotham;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Icon_awesome-chevron-circle-do {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-chevron-circle-do {
		overflow: visible;
		position: absolute;
		width: 33.616px;
		height: 33.616px;
		left: 407px;
		top: 375px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-chevron-circle-do_lc {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-chevron-circle-do_lc {
		overflow: visible;
		position: absolute;
		width: 33.616px;
		height: 33.616px;
		left: 407px;
		top: 490px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-chevron-circle-do_ld {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-chevron-circle-do_ld {
		overflow: visible;
		position: absolute;
		width: 33.616px;
		height: 33.616px;
		left: 407px;
		top: 1269px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-chevron-circle-do_le {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-chevron-circle-do_le {
		overflow: visible;
		position: absolute;
		width: 33.616px;
		height: 33.616px;
		left: 407px;
		top: 1381px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_193_lf {
		transform: matrix(1,0,0,1,482.6919,843.9999) rotate(180deg);
		transform-origin: center;
		position: absolute;
		width: 61.217px;
		height: 61.217px;
		left: 0px;
		top: 0px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: view;
		--web-action-target: Artboard__1;
		cursor: pointer;
	}
	#Ellipse_21_lg {
		fill: rgba(204,217,221,1);
	}
	.Ellipse_21_lg {
		position: absolute;
		overflow: visible;
		width: 38px;
		height: 41px;
		left: 11.909px;
		top: 10.217px;
	}
	#Icon_ionic-ios-arrow-dropright_lh {
		fill: rgba(0,0,0,1);
	}
	.Icon_ionic-ios-arrow-dropright_lh {
		overflow: visible;
		position: absolute;
		width: 61.217px;
		height: 61.217px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
}