@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Artboard – 1;
		--web-view-id: Artboard__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-scale-on-double-click: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Artboard__1 {
		position: absolute;
		display: block;
		width: 1920px;
		height: 1630px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Artboard – 1;
		--web-view-id: Artboard__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-scale-on-double-click: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#Rectangle_17 {
		fill: rgba(204,217,221,1);
	}
	.Rectangle_17 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 191px;
		height: 1648px;
		left: -10px;
		top: 0px;
	}
	#Group_193 {
		position: absolute;
		width: 61.217px;
		height: 61.217px;
		left: 132.692px;
		top: 844px;
		overflow: visible;
	}
	#Ellipse_21 {
		fill: rgba(204,217,221,1);
	}
	.Ellipse_21 {
		position: absolute;
		overflow: visible;
		width: 38px;
		height: 41px;
		left: 11.308px;
		top: 10px;
	}
	#Icon_ionic-ios-arrow-dropright {
		fill: rgba(0,0,0,1);
	}
	.Icon_ionic-ios-arrow-dropright {
		overflow: visible;
		position: absolute;
		width: 61.217px;
		height: 61.217px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_208 {
		position: absolute;
		width: 203.909px;
		height: 1630px;
		left: -10px;
		top: 1457px;
		overflow: visible;
	}
	#Rectangle_17_n {
		fill: rgba(204,217,221,1);
	}
	.Rectangle_17_n {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 191px;
		height: 1648px;
		left: 0px;
		top: 0px;
	}
	#Group_193_o {
		position: absolute;
		width: 61.217px;
		height: 61.217px;
		left: 142.692px;
		top: 844px;
		overflow: visible;
	}
	#Ellipse_21_p {
		fill: rgba(204,217,221,1);
	}
	.Ellipse_21_p {
		position: absolute;
		overflow: visible;
		width: 38px;
		height: 41px;
		left: 11.308px;
		top: 10px;
	}
	#Icon_ionic-ios-arrow-dropright_q {
		fill: rgba(0,0,0,1);
	}
	.Icon_ionic-ios-arrow-dropright_q {
		overflow: visible;
		position: absolute;
		width: 61.217px;
		height: 61.217px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#menu {
		position: absolute;
		width: 97px;
		height: 1308.752px;
		left: 31px;
		top: 233px;
		overflow: visible;
	}
	#Rectangle_25 {
		fill: rgba(0,149,59,1);
	}
	.Rectangle_25 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 115px;
		height: 115px;
		left: 0px;
		top: 0px;
	}
	#Icon_awesome-home {
		fill: rgba(255,255,255,1);
	}
	.Icon_awesome-home {
		overflow: visible;
		position: absolute;
		width: 54.055px;
		height: 42.035px;
		left: 21.326px;
		top: 26.216px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_196 {
		position: absolute;
		width: 37.07px;
		height: 46.98px;
		left: 29.466px;
		top: 808.326px;
		overflow: visible;
	}
	#Group_183 {
		position: absolute;
		width: 37.07px;
		height: 46.98px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_178 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_178 {
		overflow: visible;
		position: absolute;
		width: 37.57px;
		height: 47.479px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_179 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_179 {
		overflow: visible;
		position: absolute;
		width: 2.335px;
		height: 2.335px;
		left: 17.617px;
		top: 5.98px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_180 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_180 {
		overflow: visible;
		position: absolute;
		width: 11.878px;
		height: 11.878px;
		left: 12.844px;
		top: 13.947px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_181 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_181 {
		overflow: visible;
		position: absolute;
		width: 11.146px;
		height: 2.335px;
		left: 17.613px;
		top: 35.969px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_182 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_182 {
		overflow: visible;
		position: absolute;
		width: 6.737px;
		height: 2.335px;
		left: 8.806px;
		top: 35.969px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_183 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_183 {
		overflow: visible;
		position: absolute;
		width: 11.146px;
		height: 2.335px;
		left: 17.613px;
		top: 31.932px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_184 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_184 {
		overflow: visible;
		position: absolute;
		width: 6.737px;
		height: 2.335px;
		left: 8.806px;
		top: 31.932px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_185 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_185 {
		overflow: visible;
		position: absolute;
		width: 11.146px;
		height: 2.335px;
		left: 17.613px;
		top: 27.894px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_186 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_186 {
		overflow: visible;
		position: absolute;
		width: 6.737px;
		height: 2.335px;
		left: 8.806px;
		top: 27.894px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_187 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_187 {
		overflow: visible;
		position: absolute;
		width: 2.335px;
		height: 2.335px;
		left: 35.232px;
		top: 25.142px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_197 {
		position: absolute;
		width: 40.051px;
		height: 40.051px;
		left: 28.303px;
		top: 1033.456px;
		overflow: visible;
	}
	#Path_189 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_189 {
		overflow: visible;
		position: absolute;
		width: 8.183px;
		height: 30.689px;
		left: 31.373px;
		top: 9.901px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_190 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_190 {
		overflow: visible;
		position: absolute;
		width: 9.343px;
		height: 7.433px;
		left: 31.257px;
		top: 1.936px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_191 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_191 {
		overflow: visible;
		position: absolute;
		width: 30.538px;
		height: 40.551px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_192 {
		overflow: visible;
		position: absolute;
		width: 7.693px;
		height: 6.377px;
		left: 5.536px;
		top: 19.591px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_193 {
		overflow: visible;
		position: absolute;
		width: 8.51px;
		height: 8.51px;
		left: 3.338px;
		top: 19.358px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_194 {
		overflow: visible;
		position: absolute;
		width: 7.693px;
		height: 6.377px;
		left: 5.536px;
		top: 29.604px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_195 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_195 {
		overflow: visible;
		position: absolute;
		width: 8.51px;
		height: 8.51px;
		left: 3.338px;
		top: 29.371px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_196 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_196 {
		overflow: visible;
		position: absolute;
		width: 10.513px;
		height: 1.835px;
		left: 14.018px;
		top: 29.371px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_197 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_197 {
		overflow: visible;
		position: absolute;
		width: 3.838px;
		height: 1.835px;
		left: 14.018px;
		top: 32.708px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_198 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_198 {
		overflow: visible;
		position: absolute;
		width: 5.84px;
		height: 1.835px;
		left: 18.69px;
		top: 32.708px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_199 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_199 {
		overflow: visible;
		position: absolute;
		width: 10.513px;
		height: 1.835px;
		left: 14.018px;
		top: 19.358px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_200 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_200 {
		overflow: visible;
		position: absolute;
		width: 3.838px;
		height: 1.835px;
		left: 14.018px;
		top: 22.696px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_201 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_201 {
		overflow: visible;
		position: absolute;
		width: 5.84px;
		height: 1.835px;
		left: 18.69px;
		top: 22.696px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_202 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_202 {
		overflow: visible;
		position: absolute;
		width: 13.843px;
		height: 15.216px;
		left: 8.678px;
		top: 2.67px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_203 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_203 {
		overflow: visible;
		position: absolute;
		width: 7.659px;
		height: 5.804px;
		left: 12.195px;
		top: 6.875px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_204 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_204 {
		overflow: visible;
		position: absolute;
		width: 4.505px;
		height: 1.835px;
		left: 3.338px;
		top: 2.67px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_205 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_205 {
		overflow: visible;
		position: absolute;
		width: 3.17px;
		height: 1.835px;
		left: 3.338px;
		top: 5.34px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_206 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_206 {
		overflow: visible;
		position: absolute;
		width: 1.835px;
		height: 1.835px;
		left: 23.363px;
		top: 2.67px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_207 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_207 {
		overflow: visible;
		position: absolute;
		width: 1.835px;
		height: 1.835px;
		left: 26.033px;
		top: 2.67px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_198 {
		position: absolute;
		width: 42.554px;
		height: 42.721px;
		left: 27.14px;
		top: 1143.718px;
		overflow: visible;
	}
	#Path_208 {
		fill: rgba(0,0,0,1);
	}
	.Path_208 {
		overflow: visible;
		position: absolute;
		width: 9.146px;
		height: 2.503px;
		left: 10.013px;
		top: 34.794px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_209 {
		fill: rgba(0,0,0,1);
	}
	.Path_209 {
		overflow: visible;
		position: absolute;
		width: 9.146px;
		height: 2.503px;
		left: 10.013px;
		top: 23.447px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_210 {
		fill: rgba(0,0,0,1);
	}
	.Path_210 {
		overflow: visible;
		position: absolute;
		width: 42.554px;
		height: 42.721px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_17 {
		fill: rgba(0,0,0,1);
	}
	.Ellipse_17 {
		position: absolute;
		overflow: visible;
		width: 3.057px;
		height: 3.057px;
		left: 24.376px;
		top: 22.931px;
	}
	#Ellipse_18 {
		fill: rgba(0,0,0,1);
	}
	.Ellipse_18 {
		position: absolute;
		overflow: visible;
		width: 1.529px;
		height: 3.057px;
		left: 30.491px;
		top: 22.931px;
	}
	#Ellipse_19 {
		fill: rgba(0,0,0,1);
	}
	.Ellipse_19 {
		position: absolute;
		overflow: visible;
		width: 3.057px;
		height: 1.529px;
		left: 24.376px;
		top: 35.161px;
	}
	#Ellipse_20 {
		fill: rgba(0,0,0,1);
	}
	.Ellipse_20 {
		position: absolute;
		overflow: visible;
		width: 1.529px;
		height: 1.529px;
		left: 30.491px;
		top: 35.161px;
	}
	#Group_199 {
		position: absolute;
		width: 39.49px;
		height: 47.391px;
		left: 28.303px;
		top: 134.756px;
		overflow: visible;
	}
	#Path_144 {
		fill: rgba(0,0,0,1);
	}
	.Path_144 {
		overflow: visible;
		position: absolute;
		width: 15.797px;
		height: 3.949px;
		left: 11.846px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_145 {
		fill: rgba(0,0,0,1);
	}
	.Path_145 {
		overflow: visible;
		position: absolute;
		width: 39.49px;
		height: 46.403px;
		left: 0px;
		top: 0.987px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_146 {
		fill: rgba(0,0,0,1);
	}
	.Path_146 {
		overflow: visible;
		position: absolute;
		width: 23.695px;
		height: 12.83px;
		left: 7.897px;
		top: 26.663px;
		transform: matrix(1,0,0,1,0,0);
	}
	#group {
		fill: rgba(0,0,0,1);
	}
	.group {
		overflow: visible;
		position: absolute;
		width: 39.231px;
		height: 36.615px;
		left: 28.303px;
		top: 255.257px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_200 {
		position: absolute;
		width: 42.721px;
		height: 42.721px;
		left: 27.14px;
		top: 362.62px;
		overflow: visible;
	}
	#Group_159 {
		position: absolute;
		width: 11.309px;
		height: 11.57px;
		left: 0.261px;
		top: 0px;
		overflow: visible;
	}
	#Group_158 {
		position: absolute;
		width: 11.309px;
		height: 11.57px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_152 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_152 {
		overflow: visible;
		position: absolute;
		width: 11.913px;
		height: 12.07px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_161 {
		position: absolute;
		width: 32.041px;
		height: 42.721px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_160 {
		position: absolute;
		width: 32.041px;
		height: 42.721px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_153 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_153 {
		overflow: visible;
		position: absolute;
		width: 32.541px;
		height: 43.221px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_163 {
		position: absolute;
		width: 21.36px;
		height: 21.36px;
		left: 21.361px;
		top: 21.361px;
		overflow: visible;
	}
	#Group_162 {
		position: absolute;
		width: 21.36px;
		height: 21.36px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_154 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_154 {
		overflow: visible;
		position: absolute;
		width: 21.998px;
		height: 21.929px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_165 {
		position: absolute;
		width: 3.56px;
		height: 3.56px;
		left: 21.361px;
		top: 21.36px;
		overflow: visible;
	}
	#Group_164 {
		position: absolute;
		width: 3.56px;
		height: 3.56px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_155 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_155 {
		overflow: visible;
		position: absolute;
		width: 4.06px;
		height: 4.06px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_167 {
		position: absolute;
		width: 10.68px;
		height: 10.68px;
		left: 4.45px;
		top: 27.591px;
		overflow: visible;
	}
	#Group_166 {
		position: absolute;
		width: 10.68px;
		height: 10.68px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_156 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_156 {
		overflow: visible;
		position: absolute;
		width: 11.18px;
		height: 11.18px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_169 {
		position: absolute;
		width: 17.8px;
		height: 1.78px;
		left: 4.45px;
		top: 21.36px;
		overflow: visible;
	}
	#Group_168 {
		position: absolute;
		width: 17.8px;
		height: 1.78px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_19 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_19 {
		position: absolute;
		overflow: visible;
		width: 18.3px;
		height: 2.28px;
		left: 0px;
		top: 0px;
	}
	#Group_171 {
		position: absolute;
		width: 23.141px;
		height: 1.78px;
		left: 4.45px;
		top: 16.91px;
		overflow: visible;
	}
	#Group_170 {
		position: absolute;
		width: 23.141px;
		height: 1.78px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_20 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_20 {
		position: absolute;
		overflow: visible;
		width: 23.641px;
		height: 2.28px;
		left: 0px;
		top: 0px;
	}
	#Group_173 {
		position: absolute;
		width: 13.35px;
		height: 1.78px;
		left: 14.24px;
		top: 12.46px;
		overflow: visible;
	}
	#Group_172 {
		position: absolute;
		width: 13.35px;
		height: 1.78px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_21 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_21 {
		position: absolute;
		overflow: visible;
		width: 13.85px;
		height: 2.28px;
		left: 0px;
		top: 0px;
	}
	#Group_175 {
		position: absolute;
		width: 9.79px;
		height: 1.78px;
		left: 17.8px;
		top: 8.01px;
		overflow: visible;
	}
	#Group_174 {
		position: absolute;
		width: 9.79px;
		height: 1.78px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_22 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_22 {
		position: absolute;
		overflow: visible;
		width: 10.29px;
		height: 2.28px;
		left: 0px;
		top: 0px;
	}
	#Group_177 {
		position: absolute;
		width: 1.78px;
		height: 1.78px;
		left: 14.24px;
		top: 8.01px;
		overflow: visible;
	}
	#Group_176 {
		position: absolute;
		width: 1.78px;
		height: 1.78px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_23 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23 {
		position: absolute;
		overflow: visible;
		width: 2.28px;
		height: 2.28px;
		left: 0px;
		top: 0px;
	}
	#Group_201 {
		position: absolute;
		width: 48.091px;
		height: 39.546px;
		left: 23.652px;
		top: 475.333px;
		overflow: visible;
	}
	#Group_180 {
		position: absolute;
		width: 48.091px;
		height: 39.546px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_179 {
		position: absolute;
		width: 48.091px;
		height: 39.546px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_157 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_157 {
		overflow: visible;
		position: absolute;
		width: 43.791px;
		height: 40.066px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_158 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_158 {
		overflow: visible;
		position: absolute;
		width: 5.231px;
		height: 4.917px;
		left: 42.632px;
		top: 8.79px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_159 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_159 {
		overflow: visible;
		position: absolute;
		width: 5.088px;
		height: 4.917px;
		left: 42.632px;
		top: 24.096px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_160 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_160 {
		overflow: visible;
		position: absolute;
		width: 4.459px;
		height: 2.378px;
		left: 44.132px;
		top: 17.677px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_161 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_161 {
		overflow: visible;
		position: absolute;
		width: 2.379px;
		height: 2.378px;
		left: 4.995px;
		top: 20.612px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_202 {
		position: absolute;
		width: 42.721px;
		height: 41.194px;
		left: 27.14px;
		top: 589.54px;
		overflow: visible;
	}
	#Path_162 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_162 {
		overflow: visible;
		position: absolute;
		width: 39.978px;
		height: 30.941px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_163 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_163 {
		overflow: visible;
		position: absolute;
		width: 8.211px;
		height: 5.971px;
		left: 0px;
		top: 32.042px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_164 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_164 {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.752px;
		left: 4.263px;
		top: 13.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_165 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_165 {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.752px;
		left: 10.948px;
		top: 13.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_166 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_166 {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.752px;
		left: 17.633px;
		top: 13.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_167 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_167 {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.752px;
		left: 24.317px;
		top: 13.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_168 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_168 {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.752px;
		left: 31.002px;
		top: 13.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_169 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_169 {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.751px;
		left: 4.263px;
		top: 16.561px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_170 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_170 {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.751px;
		left: 10.948px;
		top: 16.561px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_171 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_171 {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.751px;
		left: 17.633px;
		top: 16.561px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_172 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_172 {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.751px;
		left: 24.317px;
		top: 16.561px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_173 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_173 {
		overflow: visible;
		position: absolute;
		width: 3.927px;
		height: 1.751px;
		left: 31.002px;
		top: 16.561px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_174 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_174 {
		overflow: visible;
		position: absolute;
		width: 17.621px;
		height: 14.239px;
		left: 10.868px;
		top: 20.298px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_175 {
		fill: rgba(0,0,0,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_175 {
		overflow: visible;
		position: absolute;
		width: 33.91px;
		height: 21px;
		left: 9.311px;
		top: 20.694px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_176 {
		fill: rgba(0,0,0,1);
	}
	.Path_176 {
		overflow: visible;
		position: absolute;
		width: 12.293px;
		height: 12.293px;
		left: 28.272px;
		top: 26.745px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_177 {
		fill: rgba(0,0,0,1);
	}
	.Path_177 {
		overflow: visible;
		position: absolute;
		width: 2.631px;
		height: 2.519px;
		left: 33.793px;
		top: 30.998px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_material-picture-as-pdf {
		fill: rgba(0,0,0,1);
	}
	.Icon_material-picture-as-pdf {
		overflow: visible;
		position: absolute;
		width: 38.367px;
		height: 38.367px;
		left: 29.466px;
		top: 705.621px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_203 {
		position: absolute;
		width: 58.808px;
		height: 34.768px;
		left: 19px;
		top: 924.834px;
		overflow: visible;
	}
	#Path_188 {
		fill: rgba(0,0,0,1);
	}
	.Path_188 {
		overflow: visible;
		position: absolute;
		width: 58.808px;
		height: 34.768px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#logout {
		fill: rgba(0,0,0,1);
	}
	.logout {
		overflow: visible;
		position: absolute;
		width: 38.383px;
		height: 38.374px;
		left: 29.466px;
		top: 1270.377px;
		transform: matrix(1,0,0,1,0,0);
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: view;
		--web-action-target: WELCOME_PAGE__2;
		cursor: pointer;
	}
	#WHITE_BORDER {
		fill: rgba(255,255,255,1);
	}
	.WHITE_BORDER {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1938px;
		height: 191px;
		left: 0px;
		top: 0px;
	}
	#Component_1__1 {
		position: absolute;
		width: 351.081px;
		height: 86.338px;
		left: 45px;
		top: 48px;
		overflow: visible;
	}
	#Group_149 {
		position: absolute;
		width: 256.14px;
		height: 52.711px;
		left: 94.941px;
		top: 4.916px;
		overflow: visible;
	}
	#Group_147 {
		position: absolute;
		width: 255.86px;
		height: 32.7px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_95 {
		fill: rgba(51,51,51,1);
	}
	.Path_95 {
		overflow: visible;
		position: absolute;
		width: 22.777px;
		height: 32.069px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_96 {
		fill: rgba(51,51,51,1);
	}
	.Path_96 {
		overflow: visible;
		position: absolute;
		width: 11.234px;
		height: 32.069px;
		left: 25.797px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_97 {
		fill: rgba(51,51,51,1);
	}
	.Path_97 {
		overflow: visible;
		position: absolute;
		width: 25.664px;
		height: 25.619px;
		left: 39.959px;
		top: 7.082px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_98 {
		fill: rgba(51,51,51,1);
	}
	.Path_98 {
		overflow: visible;
		position: absolute;
		width: 40.317px;
		height: 32.069px;
		left: 81.634px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_99 {
		fill: rgba(51,51,51,1);
	}
	.Path_99 {
		overflow: visible;
		position: absolute;
		width: 25.621px;
		height: 25.619px;
		left: 125.112px;
		top: 7.082px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_100 {
		fill: rgba(51,51,51,1);
	}
	.Path_100 {
		overflow: visible;
		position: absolute;
		width: 28.731px;
		height: 32.61px;
		left: 153.66px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_101 {
		fill: rgba(51,51,51,1);
	}
	.Path_101 {
		overflow: visible;
		position: absolute;
		width: 11.233px;
		height: 32.069px;
		left: 185.635px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_102 {
		fill: rgba(51,51,51,1);
	}
	.Path_102 {
		overflow: visible;
		position: absolute;
		width: 25.346px;
		height: 32.069px;
		left: 200.024px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_103 {
		fill: rgba(51,51,51,1);
	}
	.Path_103 {
		overflow: visible;
		position: absolute;
		width: 28.732px;
		height: 25.392px;
		left: 227.128px;
		top: 7.218px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_148 {
		position: absolute;
		width: 255.987px;
		height: 13.644px;
		left: 0.153px;
		top: 39.067px;
		overflow: visible;
	}
	#Path_104 {
		fill: rgba(51,51,51,1);
	}
	.Path_104 {
		overflow: visible;
		position: absolute;
		width: 9.208px;
		height: 13.363px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_105 {
		fill: rgba(51,51,51,1);
	}
	.Path_105 {
		overflow: visible;
		position: absolute;
		width: 11.802px;
		height: 10.575px;
		left: 14.452px;
		top: 3.009px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_106 {
		fill: rgba(51,51,51,1);
	}
	.Path_106 {
		overflow: visible;
		position: absolute;
		width: 11.82px;
		height: 13.585px;
		left: 31.459px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_107 {
		fill: rgba(51,51,51,1);
	}
	.Path_107 {
		overflow: visible;
		position: absolute;
		width: 10.41px;
		height: 10.696px;
		left: 48.335px;
		top: 2.948px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_108 {
		fill: rgba(51,51,51,1);
	}
	.Path_108 {
		overflow: visible;
		position: absolute;
		width: 6.427px;
		height: 10.262px;
		left: 63.911px;
		top: 3.101px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_109 {
		fill: rgba(51,51,51,1);
	}
	.Path_109 {
		overflow: visible;
		position: absolute;
		width: 11.802px;
		height: 10.575px;
		left: 75.337px;
		top: 3.009px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_110 {
		fill: rgba(51,51,51,1);
	}
	.Path_110 {
		overflow: visible;
		position: absolute;
		width: 4.319px;
		height: 13.363px;
		left: 92.233px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_111 {
		fill: rgba(51,51,51,1);
	}
	.Path_111 {
		overflow: visible;
		position: absolute;
		width: 10.41px;
		height: 10.696px;
		left: 101.892px;
		top: 2.948px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_112 {
		fill: rgba(51,51,51,1);
	}
	.Path_112 {
		overflow: visible;
		position: absolute;
		width: 6.428px;
		height: 10.262px;
		left: 117.469px;
		top: 3.101px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_113 {
		fill: rgba(51,51,51,1);
	}
	.Path_113 {
		overflow: visible;
		position: absolute;
		width: 4.267px;
		height: 13.363px;
		left: 129.009px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_114 {
		fill: rgba(51,51,51,1);
	}
	.Path_114 {
		overflow: visible;
		position: absolute;
		width: 11.446px;
		height: 10.3px;
		left: 138.12px;
		top: 3.269px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_115 {
		fill: rgba(51,51,51,1);
	}
	.Path_115 {
		overflow: visible;
		position: absolute;
		width: 17.289px;
		height: 10.3px;
		left: 154.682px;
		top: 3.063px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_116 {
		fill: rgba(51,51,51,1);
	}
	.Path_116 {
		overflow: visible;
		position: absolute;
		width: 11.089px;
		height: 13.363px;
		left: 186.154px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_117 {
		fill: rgba(51,51,51,1);
	}
	.Path_117 {
		overflow: visible;
		position: absolute;
		width: 4.267px;
		height: 13.363px;
		left: 201.339px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_118 {
		fill: rgba(51,51,51,1);
	}
	.Path_118 {
		overflow: visible;
		position: absolute;
		width: 4.266px;
		height: 13.363px;
		left: 210.715px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_119 {
		fill: rgba(51,51,51,1);
	}
	.Path_119 {
		overflow: visible;
		position: absolute;
		width: 11.446px;
		height: 10.3px;
		left: 220.093px;
		top: 3.063px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_120 {
		fill: rgba(51,51,51,1);
	}
	.Path_120 {
		overflow: visible;
		position: absolute;
		width: 4.265px;
		height: 13.363px;
		left: 236.557px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_121 {
		fill: rgba(51,51,51,1);
	}
	.Path_121 {
		overflow: visible;
		position: absolute;
		width: 10.052px;
		height: 13.363px;
		left: 245.935px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_150 {
		position: absolute;
		width: 89.387px;
		height: 13.392px;
		left: 259.086px;
		top: 71.175px;
		overflow: visible;
	}
	#Path_122 {
		fill: rgba(51,51,51,1);
	}
	.Path_122 {
		overflow: visible;
		position: absolute;
		width: 6.639px;
		height: 10.835px;
		left: 74.931px;
		top: 2.327px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_123 {
		fill: rgba(51,51,51,1);
	}
	.Path_123 {
		overflow: visible;
		position: absolute;
		width: 52.826px;
		height: 9.429px;
		left: 0px;
		top: 3.963px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_124 {
		fill: rgba(51,51,51,1);
	}
	.Path_124 {
		overflow: visible;
		position: absolute;
		width: 4.409px;
		height: 10.528px;
		left: 60.18px;
		top: 2.47px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_125 {
		fill: rgba(51,51,51,1);
	}
	.Path_125 {
		overflow: visible;
		position: absolute;
		width: 6.339px;
		height: 11.065px;
		left: 67.169px;
		top: 2.327px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_126 {
		fill: rgba(51,51,51,1);
	}
	.Path_126 {
		overflow: visible;
		position: absolute;
		width: 6.717px;
		height: 10.848px;
		left: 82.669px;
		top: 2.314px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_127 {
		fill: rgba(51,51,51,1);
	}
	.Path_127 {
		overflow: visible;
		position: absolute;
		width: 2.402px;
		height: 2.43px;
		left: 17.932px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_128 {
		fill: rgba(0,149,59,1);
	}
	.Path_128 {
		overflow: visible;
		position: absolute;
		width: 81.272px;
		height: 86.338px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#CLOCK_CALENDAR {
		position: absolute;
		width: 47px;
		height: 43px;
		left: 1799px;
		top: 69px;
		overflow: visible;
	}
	#Rectangle_24 {
		fill: rgba(0,0,0,1);
	}
	.Rectangle_24 {
		position: absolute;
		overflow: visible;
		width: 47px;
		height: 11px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_24_ex {
		fill: rgba(0,0,0,1);
	}
	.Rectangle_24_ex {
		position: absolute;
		overflow: visible;
		width: 47px;
		height: 11px;
		left: 0px;
		top: 16px;
	}
	#Rectangle_24_ey {
		fill: rgba(0,0,0,1);
	}
	.Rectangle_24_ey {
		position: absolute;
		overflow: visible;
		width: 47px;
		height: 11px;
		left: 0px;
		top: 32px;
	}
	#PROFILE {
		position: absolute;
		width: 45.972px;
		height: 45.972px;
		left: 1694.291px;
		top: 68px;
		overflow: visible;
	}
	#Icon_awesome-user-circle {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-user-circle {
		overflow: visible;
		position: absolute;
		width: 45.972px;
		height: 45.972px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#document-text {
		position: absolute;
		width: 31.891px;
		height: 40.588px;
		left: 1603.356px;
		top: 71px;
		overflow: visible;
	}
	#Path_215 {
		fill: rgba(0,0,0,1);
	}
	.Path_215 {
		overflow: visible;
		position: absolute;
		width: 31.891px;
		height: 40.588px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_216 {
		fill: rgba(0,0,0,1);
	}
	.Path_216 {
		overflow: visible;
		position: absolute;
		width: 13.39px;
		height: 13.39px;
		left: 17.395px;
		top: 1.106px;
		transform: matrix(1,0,0,1,0,0);
	}
	#CUTI {
		position: absolute;
		width: 41.233px;
		height: 44.135px;
		left: 1503.088px;
		top: 69px;
		overflow: visible;
	}
	#Layer_3 {
		fill: rgba(0,0,0,1);
	}
	.Layer_3 {
		overflow: visible;
		position: absolute;
		width: 41.233px;
		height: 44.135px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#mail-unread {
		position: absolute;
		width: 42.038px;
		height: 33.346px;
		left: 1217.614px;
		top: 74px;
		overflow: visible;
	}
	#Path_221 {
		fill: rgba(0,0,0,1);
	}
	.Path_221 {
		overflow: visible;
		position: absolute;
		width: 11.602px;
		height: 11.606px;
		left: 30.436px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_222 {
		fill: rgba(0,0,0,1);
	}
	.Path_222 {
		overflow: visible;
		position: absolute;
		width: 40.59px;
		height: 31.892px;
		left: 0px;
		top: 1.454px;
		transform: matrix(1,0,0,1,0,0);
	}
	#expand-sharp {
		position: absolute;
		width: 33.346px;
		height: 33.346px;
		left: 1126.359px;
		top: 74px;
		overflow: visible;
	}
	#Path_223 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_223 {
		overflow: visible;
		position: absolute;
		width: 12.86px;
		height: 12.86px;
		left: 22.736px;
		top: 22.736px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_224 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_224 {
		overflow: visible;
		position: absolute;
		width: 14.342px;
		height: 14.339px;
		left: 21.22px;
		top: 21.22px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_225 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_225 {
		overflow: visible;
		position: absolute;
		width: 12.86px;
		height: 12.86px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_226 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_226 {
		overflow: visible;
		position: absolute;
		width: 14.342px;
		height: 14.339px;
		left: 0.966px;
		top: 0.969px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_227 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_227 {
		overflow: visible;
		position: absolute;
		width: 12.86px;
		height: 12.86px;
		left: 22.736px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_228 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_228 {
		overflow: visible;
		position: absolute;
		width: 14.339px;
		height: 14.342px;
		left: 21.22px;
		top: 0.966px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_229 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_229 {
		overflow: visible;
		position: absolute;
		width: 12.86px;
		height: 12.86px;
		left: 0px;
		top: 22.736px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_230 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2.25px;
		stroke-linejoin: miter;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_230 {
		overflow: visible;
		position: absolute;
		width: 14.339px;
		height: 14.342px;
		left: 0.969px;
		top: 21.22px;
		transform: matrix(1,0,0,1,0,0);
	}
	#notification-solid {
		position: absolute;
		width: 38.398px;
		height: 41.892px;
		left: 1317.906px;
		top: 70px;
		overflow: visible;
	}
	#Path_219 {
		fill: rgba(0,0,0,1);
	}
	.Path_219 {
		overflow: visible;
		position: absolute;
		width: 38.398px;
		height: 37.593px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_220 {
		fill: rgba(0,0,0,1);
	}
	.Path_220 {
		overflow: visible;
		position: absolute;
		width: 6.765px;
		height: 2.947px;
		left: 15.81px;
		top: 38.945px;
		transform: matrix(1,0,0,1,0,0);
	}
	#flag-fill {
		position: absolute;
		width: 28.992px;
		height: 40.588px;
		left: 1415.318px;
		top: 71px;
		overflow: visible;
	}
	#Path_231 {
		fill: rgba(0,0,0,1);
	}
	.Path_231 {
		overflow: visible;
		position: absolute;
		width: 2.899px;
		height: 40.588px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_232 {
		fill: rgba(0,0,0,1);
	}
	.Path_232 {
		overflow: visible;
		position: absolute;
		width: 27.542px;
		height: 23.193px;
		left: 1.45px;
		top: 1.45px;
		transform: matrix(1,0,0,1,0,0);
	}
}