.texteditor{
	
	border-radius: 0;
}
.texteditor-body{
	outline: none;
	
}
.texteditor .dialog-toolbar .l-btn,
.texteditor .dialog-toolbar .textbox{
	margin: 0 1px;
}
.texteditor .dialog-toolbar .dialog-tool-separator{
	display: inline-block;
	float: none;
	vertical-align: middle;
}
.texteditor-fullscreen{
	
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.texteditor-color{
	box-sizing: border-box;
	width: 150px;
	min-height: 132px;
}
.texteditor-color a{
	box-sizing: border-box;
	display: block;
	width: 18px;
	height: 18px;
	float: left;
	border: 1px solid #fff;
}
.texteditor-color a:hover{
	border: 1px solid #000;
}
.icon-bold{
	background: url('images/bold.png') center center;
}
.icon-italic{
	background: url('images/italic.png') center center;
}
.icon-strikethrough{
	background: url('images/strikethrough.png') center center;
}
.icon-underline{
	background: url('images/underline.png') center center;
}
.icon-justifyleft{
	background: url('images/justifyleft.png') center center;
}
.icon-justifycenter{
	background: url('images/justifycenter.png') center center;
}
.icon-justifyright{
	background: url('images/justifyright.png') center center;
}
.icon-justifyfull{
	background: url('images/justifyfull.png') center center;
}
.icon-insertorderedlist{
	background: url('images/insertorderedlist.png') center center;
}
.icon-insertunorderedlist{
	background: url('images/insertunorderedlist.png') center center;
}
.icon-outdent{
	background: url('images/outdent.png') center center;
}
.icon-indent{
	background: url('images/indent.png') center center;
}
.icon-forecolor{
	background: url('images/forecolor.png') center center;
}
.icon-backcolor{
	background: url('images/backcolor.png') center center;
}
.icon-image{
	background: url('images/image.png') center center;
}
.icon-link{
	background: url('images/link.png') center center;
}
